<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <!--<add name="GPSDB" connectionString="Data Source=localhost;Initial Catalog=GPSDB;User ID=sa;Password=123;" providerName="System.Data.SqlClient"/>-->
    <add name="GPSDB" connectionString="Data Source=ANGONA-PC;Initial Catalog=GPSDB;User ID=sa;Password=123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="rootFTP" value="D:\FTP"/>
    <add key="rootPhoto" value="D:\TrackMe\Data\Photo"/>
  </appSettings>
</configuration>
